# - API

In [1]:
import tmdbsimple as tmdb
import pandas as pd
import os, time,json
import tmdbsimple as tmdb

In [2]:
with open('/Users/cathe/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [3]:
tmdb.API_KEY = login['api-key']

In [4]:
movie = tmdb.Movies(603)

In [5]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cathe\anacoda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)

In [6]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/oMsxZEvz9a708d49b6UdZK1KAo5.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 81.526,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.205,
 'vote_count': 23459}

In [7]:
info['budget']

63000000

In [8]:
info['revenue']

463517383

In [9]:
info['imdb_id']

'tt0133093'

In [10]:
movie = tmdb.Movies('tt1361336')
info = movie.info()
info['budget']

50000000

In [11]:
releases = movie.releases()
for c in releases['countries']:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

PG
PG
PG

In [12]:
# Get the movie object for the current id
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [13]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] =='US':
            info['certification'] = c['certification']
    return info

In [14]:
test = get_movie_with_rating("tt0848228") #put your function name here
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 140.783,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.71,
 'vote_count': 28857,
 'certification': 'PG-13'}

In [15]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except: 
        pass
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.71,28857,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.71,28857,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.88,10426,PG-13

In [16]:
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.71,28857,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.71,28857,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.88,10426,PG-13

In [17]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 1

[['tt0115937',
  requests.exceptions.HTTPError('404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=07528781488d7824283720edbc76a31e')]]

# Exploratory Data Analysis

In [18]:
df_2000 = pd.read_csv('Data/final_tmdbdata2000.csv.gz')
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.0,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2252.0,PG

In [19]:
df_2001 = pd.read_csv('Data/final_tmdbdata2001.csv.gz')
df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.300,1201.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.449,128.0,PG-13
4,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,NaN,1000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,17140.0,en,The Attic Expeditions,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,29.0,R

In [44]:
df2 = pd.concat((df_2000, df_2001), axis = 1)
df2

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.300,1201.0,PG-13
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.449,128.0,PG-13
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.100,29.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
1328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
1329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
1330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN
1331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.000,0.0,NaN

In [48]:
df2.loc[ df2['budget'] > 0 | ['revenue'] > 0 ]

TypeError: unsupported operand type(s) for |: 'int' and 'list'

In [23]:
df_merged.loc[ df_merged['revenue'] > 0 ]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.100,2252.0,PG
10,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,Sånger från andra våningen,...,80334.0,99.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.200,239.0,NaN
11,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
13,tt0120630,0.0,/xWG7emUlBPhsJ2MyQHqH0poeXwm.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.748,4407.0,G
16,tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,283.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2385,tt0310149,0.0,/qpI3S8hytJzzp5tuLv1t6b7fZ67.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,17180.0,ja,修羅雪姫,...,77567.0,95.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,The Princess Blade,0.0,5.800,25.0,NaN
2386,tt0310790,0.0,/hAvu0oWrEbbPN71QC8w1NIoUYQT.jpg,"{'id': 518467, 'name': 'El Bosque Animado', 'p...",3747230.0,"[{'id': 16, 'name': 'Animation'}]",NaN,49612.0,gl,O Bosque Animado,...,482902.0,83.0,"[{'english_name': 'Galician', 'iso_639_1': 'gl...",Released,NaN,The Living Forest,0.0,5.400,23.0,PG
2456,tt0355857,0.0,/j8Kjy0jiUv3pr7qlEzZXSJRSv1y.jpg,"{'id': 514942, 'name': 'Onmyoji Collection', '...",0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,21325.0,ja,陰陽師,...,16234.0,116.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Onmyoji: The Yin Yang Master,0.0,5.800,20.0,NaN
2498,tt0445841,0.0,/lO3XAxV38SC7ZuuNVdy6E6nOZac.jpg,NaN,12500000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,233308.0,zh,一個爛賭的傳說,...,123021750.0,94.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,A Gambler's Story,0.0,6.800,3.0,NaN
2516,tt1039952,0.0,/yTGmGjAd0gfpVK0ezoqWgx7AJkp.jpg,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,69399.0,ta,சிட்டிசன்,...,500000.0,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Citizen,0.0,6.600,15.0,NaN

In [24]:
df_merged.loc[ df_merged['certification'] == "G"]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
13,tt0120630,0.0,/xWG7emUlBPhsJ2MyQHqH0poeXwm.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.748,4407.0,G
20,tt0120917,0.0,/mZj8EUr6F1x2PWZjKPxaeYd5WRw.jpg,"{'id': 178117, 'name': ""The Emperor's New Groo...",100000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,11688.0,en,The Emperor's New Groove,...,169327687.0,78.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It's all about... ME!,The Emperor's New Groove,0.0,7.547,5982.0,G
24,tt0123055,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,248740.0,en,The Elf Who Didn't Believe,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Elf Who Didn't Believe,0.0,4.000,1.0,G
272,tt0192255,0.0,/xiVZGT0kKT5wCy7VaYuf5rr6Fnu.jpg,NaN,35000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,24100.0,en,The Little Vampire,...,27965865.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"They're not just best friends, they're blood b...",The Little Vampire,0.0,6.796,361.0,G
381,tt0205461,0.0,/c4uxjS8iAiNwKzFG2SGBmS0EDlp.jpg,"{'id': 1117735, 'name': 'Thomas & Friends Coll...",19000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,16110.0,en,Thomas and the Magic Railroad,...,19748009.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Little Engines CAN Do Big Things...,Thomas and the Magic Railroad,0.0,5.470,67.0,G
416,tt0208298,0.0,/guTKlQh7Na7bec8SoAzSfYQWaUK.jpg,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,30628.0,en,The Miracle Maker,...,0.0,90.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,NaN,The Miracle Maker,0.0,6.100,35.0,G
445,tt0211181,0.0,/eqZ5t82asfprFcNS56eVruNT5G5.jpg,"{'id': 124916, 'name': '101 Dalmatians (Live-A...",85000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,10481.0,en,102 Dalmatians,...,183611771.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Meet Two Unlikely Heroes With A Bone To Pick.,102 Dalmatians,0.0,5.466,1223.0,G
469,tt0213203,0.0,/9yxIBACv6GZs9JrhizDW6SEYaNu.jpg,"{'id': 57129, 'name': 'Rugrats Collection', 'p...",30000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,16340.0,en,Rugrats in Paris: The Movie,...,103291131.0,78.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,France never had a chance!,Rugrats in Paris: The Movie,0.0,6.634,417.0,G
567,tt0220099,0.0,/60JMvMGuLHSlVjoUpi86UiB5Lmq.jpg,NaN,30000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,15655.0,en,The Tigger Movie,...,45554533.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Tigger Movie,0.0,6.511,504.0,G
694,tt0235679,0.0,/6X3qdsHcwu06GiiXwwNRWzfJ5oJ.jpg,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",16000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://www.warnerbros.com/movies/pokemon-3-movie,10991.0,ja,劇場版ポケットモンスター 結晶塔の帝王 ENTEI,...,68411275.0,74.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,This spring the Unown spells adventure.,Pokémon 3: The Movie,0.0,6.502,562.0,G
948,tt0263118,0.0,NaN,NaN,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,285320.0,en,The Best of Dr. Seuss,...,0.0,56.0,[],Released,NaN,The Best of Dr. Seuss,1.0,8.000,2.0,G
1015,tt0270560,0.0,/xnOUkH3RcAKDajBIXLuntiPkkO8.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,34729.0,en,Our Lips Are Sealed,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Our Lips Are Sealed,0.0,6.000,253.0,G
1087,tt0293854,0.0,/pu4qTZdFaUfXGjepFDw94zMxJs6.jpg,"{'id': 427113, 'name': 'Little Bear', 'poster_...",0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,33371.0,en,Maurice Sendak's Little Bear: The Movie,...,0.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Little Bear's First Feature Length Movie,Maurice Sendak's Little Bear: The Movie,0.0,6.385,13.0,G
1187,tt1291055,0.0,/5KwDfIM7UO2vPXr4E7JEmeiFxwU.jpg,"{'id': 39244, 'name': 'Digimon Collection', 'p...",0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,98299.0,ja,デジモンアドベンチャー02 前編・デジモンハリケーン上陸!!／後編・超絶進化!!黄金のデジメンタル,...,0.0,62.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Digimon Adventure 02: Hurricane Touchdown! The...,0.0,7.100,31.0,G
1335,tt0198781,0.0,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,"{'id': 137696, 'name': 'Monsters, Inc. Collect...",115000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://movies.disney.com/monsters-inc,585.0,en,"Monsters, Inc.",...,579707738.0,92.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,We Scare Because We Care.,"Monsters, Inc.",0.0,7.832,16922.0,G
1362,tt0206367,0.0,/dXVBOVU4fUs5ByQ6ftoWuWZNGp.jpg,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,54491.0,en,The Trumpet of the Swan,...,628387.0,75.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Sometimes being different helps you to find yo...,The Trumpet of the Swan,0.0,5.575,60.0,G
1642,tt0247638,0.0,/gHtCBCQrzT6MvCylcvgFWPMZ1E2.jpg,"{'id': 107674, 'name': 'The Princess Diaries C...",37000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,9880.0,en,The Princess Diaries,...,165335153.0,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,She rocks. She rules. She reigns.,The Princess Diaries,0.0,6.939,4504.0,G
1735,tt0255055,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,76692.0,en,IMAX - China: The Panda Adventure,...,0.0,48.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An extraordinary journey. An experience of won...,China: The Panda Adventure,0.0,7.000,2.0,G
1834,tt0265632,0.0,/5Sfogeh6PbAZW7hiPV1L2MnQFxV.jpg,"{'id': 421084, 'name': 'Recess Collection', 'p...",10000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,19405.0,en,Recess: School's Out,...,44460850.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Saving The World One Playground At A Time,Recess: School's Out,0.0,6.586,303.0,G
1866,tt0268397,0.0,/9stTjA64EvFfNtrlO5XKvpBX351.jpg,NaN,25000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 28, '...",NaN,12589.0,en,Jimmy Neutron: Boy Genius,...,80936232.0,83.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"He may be small, but he's got a big brain!",Jimmy Neutron: Boy Genius,0.0,5.924,787.0,G
1934,tt0273799,0.0,/ziINAUKAi1W74PffqDdBPk9E62l.jpg,NaN,25000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,34549.0,en,Max Keeble's Big Move,...,18634654.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His World. His Rules.,Max Keeble's Big Move,0.0,5.772,136.0,G
1968,tt0276198,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,64088.0,en,Horse Crazy,...,0.0,84.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,You're never too young to chase your dreams.,Horse Crazy,0.0,0.000,0.0,G
2160,tt0287635,0.0,/2Ut5lSVXDr2MvuTNa7VgBqTzap3.jpg,"{'id': 34055, 'name': 'Pokémon Collection', 'p...",0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://www.pokemon.com/us/pokemon-episodes/po...,12600.0,ja,劇場版ポケットモンスター セレビィ 時を超えた遭遇,...,28023563.0,80.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,Best friends. Better heroes.,Pokémon 4Ever,0.0,6.460,361.0,G
2221,tt0291959,0.0,/eB7NQzmfMLNMcjmQsLeoZ3rTjiz.jpg,"{'id': 416908, 'name': 'O Grilo Feliz', 'poste...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",NaN,182496.0,pt,O Grilo Feliz,...,0.0,80.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,NaN,The Happy Cricket,0.0,4.727,11.0,G
2511,tt0810831,0.0,/foJtMkj948xDdfKkAemGplkQ9ly.jpg,"{'id': 39244, 'name': 'Digimon Collection', 'p...",0.0,"[{'id': 16, 'name': 'Animation'}]",NaN,36200.0,ja,デジモンテイマーズ 冒険者たちの戦い,...,0.0,50.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Digimon Tamers: Battle of Adventurers,0.0,7.000,13.0,G

In [25]:
df_merged.loc[ df_merged['certification'] == "PG"]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.100,2252.0,PG
19,tt0120913,0.0,/pniACHS8KDVCldB3BlwL78RIZ7V.jpg,NaN,75000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",NaN,7450.0,en,Titan A.E.,...,36754634.0,94.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When Earth Ends, The Adventure Begins.",Titan A.E.,0.0,6.581,962.0,PG
22,tt0122459,0.0,/oNOJoW2XoH3shkQxHtOyacJRBCQ.jpg,NaN,24000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,2621.0,en,Return to Me,...,36609995.0,115.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A comedy straight from the heart,Return to Me,0.0,6.586,384.0,PG
27,tt0130623,0.0,/laeEtakR2pLKu3CeRwB2lU5Y53X.jpg,NaN,127500000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,10567.0,en,Dinosaur,...,354248063.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You have never seen anything like this.,Dinosaur,0.0,6.525,2246.0,PG
28,tt0131704,0.0,/9K1y8HCokYpuU92jKauiFwu0y7P.jpg,NaN,76000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 12, '...",NaN,17711.0,en,The Adventures of Rocky & Bullwinkle,...,35134820.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This summer it's not the same old bull.,The Adventures of Rocky & Bullwinkle,0.0,4.071,325.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233,tt0292996,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,162133.0,en,Bug Off!,...,0.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Bug Off!,0.0,4.000,3.0,PG
2286,tt0296845,0.0,/HBDCAk7pkHFbanbIsfeElE14x1.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,50573.0,en,Little Secrets,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Can you keep a secret?,Little Secrets,0.0,6.258,66.0,PG
2339,tt0302819,0.0,NaN,"{'id': 104202, 'name': 'Mr. Bones Collection',...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,36267.0,en,Mr. Bones,...,0.0,110.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Mr. Bones,0.0,5.600,29.0,PG
2386,tt0310790,0.0,/hAvu0oWrEbbPN71QC8w1NIoUYQT.jpg,"{'id': 518467, 'name': 'El Bosque Animado', 'p...",3747230.0,"[{'id': 16, 'name': 'Animation'}]",NaN,49612.0,gl,O Bosque Animado,...,482902.0,83.0,"[{'english_name': 'Galician', 'iso_639_1': 'gl...",Released,NaN,The Living Forest,0.0,5.400,23.0,PG
2433,tt0329589,0.0,/ayGKiqIO1leQbt4WXl3aKFxAbdN.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,53501.0,en,Shark Hunter,...,0.0,94.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Danger In The Deep,Shark Hunter,0.0,4.600,15.0,PG

In [26]:
df_merged.loc[ df_merged['certification'] == "PG-13"]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
17,tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.118,5929.0,PG-13
18,tt0120903,0.0,/yGxMIIDSUvaXUjjJuIYZi40Jt3J.jpg,"{'id': 748, 'name': 'X-Men Collection', 'poste...",75000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.20thcenturystudios.com/movies/x-men,36657.0,en,X-Men,...,296339527.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Trust a few. Fear the rest.,X-Men,0.0,6.994,10373.0,PG-13
40,tt0138818,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,651895.0,en,The Hiding Place,...,0.0,97.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The only one who knows can't be trusted and is...,The Hiding Place,0.0,4.000,1.0,PG-13
41,tt0138927,0.0,/5f8tJLrFdcgSpqYi7U58GEkoMF1.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,65736.0,en,Waterproof,...,0.0,94.0,[],Released,Eli Zeal is about to learn that to err is huma...,Waterproof,0.0,6.400,5.0,PG-13
45,tt0141926,0.0,/2W1AA5qZXJrR7MJXUgqj49JsLYy.jpg,NaN,62000000.0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,3536.0,en,U-571,...,127666415.0,116.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Heroes are ordinary men who do extraordinary t...,U-571,0.0,6.452,1063.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,tt0293416,0.0,/fmlTj7qDrNdfpBMcEfEpnzwpMr0.jpg,NaN,15000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",NaN,9606.0,ja,メトロポリス,...,4035192.0,108.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,Welcome to Metropolis,Metropolis,0.0,7.124,400.0,PG-13
2288,tt0297024,0.0,NaN,NaN,0.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,457222.0,en,Betaville,...,0.0,90.0,[],Released,It started out a picnic. Then came the Dots fr...,Betaville,0.0,3.000,1.0,PG-13
2420,tt0322645,0.0,/aWg40fkUvghFwrCya2fHvAEvjud.jpg,"{'id': 53154, 'name': 'Inuyasha Collection', '...",10540.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",NaN,42360.0,ja,犬夜叉 時代を越える想い,...,0.0,99.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Inuyasha the Movie: Affections Touching Across...,0.0,7.671,164.0,PG-13
2513,tt0832449,0.0,/qgaVJE4SK2qRtggVyRlISKQ1zBE.jpg,"{'id': 23456, 'name': 'One Piece Collection', ...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",https://one-piece.com/comicsanime/movie/detail...,23446.0,ja,ワンピース ねじまき島の冒険,...,0.0,60.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,One Piece: Clockwork Island Adventure,0.0,6.958,225.0,PG-13
2517,tt1073223,0.0,/le7N8M4bAM9suFGGTjvYblfmPT8.jpg,"{'id': 39199, 'name': 'Detective Conan Collect...",0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 16, 'name...",https://www.tms-e.co.jp/global/alltitles/conan...,32022.0,ja,名探偵コナン 天国へのカウントダウン,...,0.0,100.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,Detective Conan: Count Down to Heaven,Case Closed: Countdown to Heaven,0.0,7.246,142.0,PG-13

In [27]:
df_merged.loc[ df_merged['certification'] == "R"]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
5,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.800,50.0,R
6,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.099,186.0,R
7,tt0119495,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,51181.0,en,Love 101,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Love 101,0.0,0.000,0.0,R
11,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
16,tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,283.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,tt0307448,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,348861.0,en,Sex Court: The Movie,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Where the punishment is a pleasure.,Sex Court: The Movie,0.0,4.800,4.0,R
2387,tt0311361,0.0,/chTzuvknyHTc0jqjQjGsEjmg5DG.jpg,NaN,100000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,16209.0,en,Jesus Christ Vampire Hunter,...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Jesus Christ Vampire Hunter,0.0,4.700,91.0,R
2412,tt0318819,0.0,/z7nc41k7XyfGa2zhOOlfyXeMX4s.jpg,"{'id': 98435, 'name': 'Patlabor Collection', '...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",NaN,16402.0,ja,WXIII 機動警察パトレイバー,...,0.0,107.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,WXIII: Patlabor The Movie 3,0.0,6.470,33.0,R
2416,tt0321959,0.0,/6S8tSirOcBRmOlh4mFSTrorNwnD.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,89091.0,en,Death Game,...,0.0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Death Game,0.0,3.000,2.0,R
2459,tt0364722,0.0,NaN,NaN,1000000.0,"[{'id': 28, 'name': 'Action'}]",NaN,440591.0,en,The Ultimate Game,...,0.0,91.0,[],Released,They Play for Keeps!,The Ultimate Game,0.0,0.000,0.0,R

In [28]:
df2 = df_merged[["revenue"]].mean()
print(df2)

revenue    1.094366e+07
dtype: float64

In [29]:
data = {'certification' == "R"}

df = pd.DataFrame(df2)

av_column = df.mean(axis=0)
print (av_column)

0    1.094366e+07
dtype: float64

In [30]:
data = {'certification': 'G''PG''PG-13''R'}

df = pd.DataFrame(df2)

av_column = df.mean(axis=0)
print (av_column)

0    1.094366e+07
dtype: float64

In [31]:
df3 = df_merged[["budget"]].mean()
print(df3)

budget    5.191485e+06
dtype: float64

In [33]:
d = {'certification': ['G', 'PG', 'PG-13', 'R']}

df = pd.DataFrame(d)

# Display Original dataframe
print("Created Dataframe:\n",df,"\n", df3)

# Calculating mean
df['Mean'] = df.mean(axis=1)

# Display modified DataFrame
print("Modified DataFrame:\n",df, df3)

Created Dataframe:
   certification
0             G
1            PG
2         PG-13
3             R
 budget    5.191485e+06
dtype: float64
Modified DataFrame:
   certification  Mean
0             G   NaN
1            PG   NaN
2         PG-13   NaN
3             R   NaN budget    5.191485e+06
dtype: float64

C:\Users\cathe\AppData\Local\Temp\ipykernel_13868\3345998666.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Mean'] = df.mean(axis=1)

In [43]:
# create a pandas dataframe
scores_df = pd.DataFrame(['certification' ['G', 'PG', 'PG-13', 'R'],
                          "df_merged[ 'revenue' ]" > 0 ])
# display the dataframe
print(scores_df)
print(scores_df.mean(axis=1))

<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\cathe\AppData\Local\Temp\ipykernel_13868\1294117254.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  scores_df = pd.DataFrame(['certification' ['G', 'PG', 'PG-13', 'R'],
C:\Users\cathe\AppData\Local\Temp\ipykernel_13868\1294117254.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  scores_df = pd.DataFrame(['certification' ['G', 'PG', 'PG-13', 'R'],
C:\Users\cathe\AppData\Local\Temp\ipykernel_13868\1294117254.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  scores_df = pd.DataFrame(['certification' ['G', 'PG', 'PG-13', 'R'],

TypeError: string indices must be integers